<p>Parlant de la gestion des données dynamiques, nous avons 4 propeités: 
    <strong>Interpollation</strong>, 
    <strong>Property bindind</strong> ,
    <strong>Event binding</strong> et
    <strong>Two-way-binding</strong>
</p>
<div class="row">
    <div class="col-md-5 border mx-auto">
        <h5>Interpolation</h5>
        <app-interpolation></app-interpolation>
    </div>
    <div class="col-md-5 border mx-auto">
        <h5>Property binding</h5>
    </div>
    <div class="col-md-5 border mx-auto">
        <h5>Event binding</h5>
    </div>
    <div class="col-md-5 border mx-auto">
        <h5>two way binding</h5>
    </div>
</div>
